* {
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}

.layout {
  height: 100vh;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/6210449/pexels-photo-6210449.jpeg?cs=srgb&dl=pexels-picha-6210449.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.349);
}
.menuContainer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center; /* vertically centers items inside menuContainer */
  justify-content: space-between; /* spreads logo and cart */
  position: fixed;
  padding: 0 2%;
  .logo {
    width: 40%;
    padding-left: 2%;
  }
  .logo h2 {
    font-size: 1.9rem;
    cursor: pointer;
    margin: 0;
  }
  .cart {
    width: 20%;
    margin-left: 20%;
    font-size: 1.8rem;
    justify-content: center;
    display: flex;
    cursor: pointer;
  }
  .burger {
    width: 20%;
    .lanes {
      display: flex;
      flex-direction: column;
      gap: 0.8vh;
      align-items: center;
      cursor: pointer;

      div {
        width: 50%;
        background-color: white;
        height: 2px;
      }
    }
  }
}
.homeContainer {
  height: 100vh;
  padding-top: 10vh;
  .main {
    height: 90vh;
    padding-top: 54vh;
    .placeorder {
      height: 20vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2vh;
      h3 {
        font-size: 2rem;
        margin: 0;
      }
      button {
        border: none;
        color: white;
        cursor: pointer;
        padding: 1em 2em;
        font-size: 1.4rem;
        font-weight: 1000;
        background-color: rgb(255, 111, 0);
        border-radius: 5px;
        transition: 0.3s ease-in-out;
      }
    }
    .placeorder button:hover {
      box-shadow: 0 0 20px 5px rgba(255, 111, 0, 0.8);
      transform: scale(1.05);
    }
  }
}

.foodHome {
  height: 150vh;
  color: black;
  background-color: rgba(253, 185, 60, 0.091);
  padding: 0 5%;
  .main {
    height: 100vh;
    padding-top: 5vh;
    h3 {
      text-align: center;
      font-size: 1.5rem;
      margin: 0;
    }
    p {
      text-align: center;
      line-height: 2;
      font-size: 1.1rem;
    }
    .foodpic {
      margin-top: 12vh;
      height: 30vh;
      text-align: center;
      img {
        width: 85%;
        height: 90%;
        border-radius: 40px;
      }
    }
    .ourFood {
      width: 100%;
      border-radius: 40px;
      border-style: dotted;
      height: 75vh;
      text-align: center;
      padding-top: 5vh;
      background-color: rgba(255, 68, 0, 0.803);
      .flower {
        img {
          width: 50%;
          border-radius: 40px;
        }
      }
      h3 {
        margin-top: 4vh;
        font-size: 2rem;
      }
      p {
        color: white;
      }
      button {
        margin-top: 5vh;
        border: 4px solid grey;
        border-style: dotted;
        border-radius: 15px;
        padding: 0 8%;
        height: 7vh;
        background-color: black;
        color: white;
        font-size: 1.4rem;
      }
    }
  }
}
